<link rel="stylesheet" href="/styles/messages.css">
<div class="message-box">
    <div class="message-header">
        <div class="message-header-profile-icon"></div>
        <div class="message-header-info">
            <p class="message-header-fullname">
                <%= user && user.membership_status || user.admin_status ? message.full_name : '???' %>
            </p>
            <p>
                <%= user && user.membership_status || user.admin_status ? '@' + message.username + ' • ' + message.timeAgo : '??? • ???' %>
            </p>
        </div>
        <% if ((user && user.admin_status) || (user && user.id === message.author)) { %>
            <a class="delete-message" href="/delete-message/<%=message.id%>"> 🗙 </a>
        <% } %>
    </div>
    <h3> <%= message.title %> </h3>
    <p> <%= message.text %> </p>
</div>