<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/index.css">
    <script src="/scripts/addMembership.js" defer></script>
</head>
<body>
    <% if (locals.user) { %>
        <%- include("partials/userNavbar", {user: user}) %>
    <% } else { %>
        <%- include("partials/defaultNavbar") %>
    <% } %>

    <main class="messages-container">
        <% if(!locals.user) { %>
            <span class="notif">
                <p>To add a post, you need to <a href="/form/login">login</a> first.</p>
            </span>
        <% } else if (locals.user && !user.membership_status) { %>
            <span class="notif">
                <p>To see more details, you need to <a class="become-member">become a member</a> first.</p>
            </span>
        <% } %>
        <% messages.forEach((message) => { %>
            <%- include("./partials/message", {message: message}) %>
        <% }) %> 
    </main>

    <%- include("partials/footer") %>
</body>
</html>