<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/form.css">
    <%- include("partials/favicon") %>
</head>
<body>
    <%- include("partials/defaultNavbar") %>

    <main class="auth-container">
        <form action="/form/register" method="POST">
            <%- include("partials/errors") %>

            <h2> Register a New Account </h2>
            <span>
                <label for="full_name">Full Name: </label>
                <input type="text" name="full_name" id="full_name" placeholder="John Doe" minlength="6" maxlength="20" required>
            </span>
            <span>
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" placeholder="johndoe123" minlength="6" maxlength="20" required>
            </span>
            <span>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" placeholder="******" minlength="6" maxlength="20" required>
            </span>
            <span>
                <label for="confirm_password">Confirm Password: </label>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="******" minlength="6" maxlength="20" required>
            </span>
            <button type="submit"> Register </button>
        </form>
    </main>

    <%- include("partials/footer") %>
</body>
</html>